[CLUSTER]
HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_PORT=

[IAM_ROLE]
ARN=

[S3]
LOG_DATA=
LOG_JSONPATH=
SONG_DATA=

[AWS]
KEY=
SECRET=

[DWH]
DWH_CLUSTER_TYPE=
DWH_NUM_NODES=
DWH_NODE_TYPE=

DWH_IAM_ROLE_NAME=
DWH_CLUSTER_IDENTIFIER=


